<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-wefitter" version="0.0.1">
    <name>WeFitterHealthKitPlugin</name>

    <description>A Cordova plugin for WeFitter Healthkit SDK</description>
    <license>MIT</license>

    <keywords>cordova,ios,message,alert</keywords>
    <repo>https://github.com/gjwdijk/cordova-plugin-wefitter.git</repo>
    <issue></issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <asset src="www/wefitterhealthkit.js" target="js/wefitterhealthkit.js"/>

    <js-module src="www/wefitterhealthkit.js" name="wefitterhealthkit">
        <clobbers target="wefitterhealthkit" />
    </js-module>


    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="WeFitterHealthKit">
                <param name="ios-package" value="WeFitterHealthKit" />
            </feature>
        </config-file>

        <header-file src="src/ios/WeFitterHealthKit.h" target-dir="WeFitterHealthKitPlugin"/>
        <source-file src="src/ios/WeFitterHealthKit.m" target-dir="WeFitterHealthKitPlugin"/>

        <!-- Usage description of Health, mandatory since iOS 10 -->
        <preference name="HEALTH_READ_PERMISSION" default="WeFitter would like to read your activity data" />
        <preference name="HEALTH_WRITE_PERMISSION" default=" " />
        <config-file target="*-Info.plist" parent="NSHealthShareUsageDescription">
            <string>$HEALTH_READ_PERMISSION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSHealthUpdateUsageDescription">
            <string>$HEALTH_WRITE_PERMISSION</string>
        </config-file>

        <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit">
            <true/>
        </config-file>

        <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit">
            <true/>
        </config-file>

        <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit.background-delivery">
            <true/>
        </config-file>

        <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit.background-delivery">
            <true/>
        </config-file>

		<!-- WeFitter library -->
        <framework src="src/ios/WeFitterLib.xcframework" custom="true" embed="true" />
        <framework src="HealthKit.framework" weak="true" />

        <source-file src="src/ios/WeFitterLib.xcframework" target-dir="lib" framework="true" />

    </platform>

</plugin>

